<div class="product-gallery">
  <!-- needs to be replaced with carousal and use the correct images variant based on the product selected color -->
  <picture>
    <img aria-hidden="true" width="224" src="<%= product.thumbnail_url %>" alt="<%=product.name%> image" />
  </picture>
</div>