<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <div class="details content">
      <h2><%= products.name %></h2>
      <div class="content">
        <p><%= products.price %></p>
      </div>
    </div>
  </body>
</html>
