<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <main>
    <section class="container" aria-label="best selling products">
      <ul class="products-list">
        <% if (products.length > 0) { %> <% products.forEach(product => { %>
        <%- include('./partials/_product', { product: product }) %> <% }) %>
        <% } else { %>
        <p>There are no items to display...</p>
        <% } %>
      </ul>
    </section>
  </main>
</body>

</html>