:root {
  --clr-primary: black;
  --clr-secondary: #2f3132;
  --clr-disabled: #697172;
  --clr-danger: #106604;

  --fs-300: 14px;
  --fs-400: 16px;
  --fs-500: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100dvh;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1;
  margin: 0 -1px -1px 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1;
}

.white {
  background-color: white;
}

.black {
  background-color: black;
}

.gray {
  background-color: gray;
}

.blue {
  background-color: blue;
}

.graphite {
  background-color: #393b3a;
}

.off-white {
  background-color: #efefef;
}

.rose {
  background-color: #eecdc8;
}

.pale-gray {
  background-color: #ebedef;
}

.products-list {
  list-style-type: none;
  display: grid;
  padding: 16px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  row-gap: 48px;
  column-gap: 36px;
}

.product-card {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;
  padding: 12px;
}

.image-container {
  background-color: #cfcfcf;
  position: relative;

  .product-image a img {
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: contain;
  }

  .on-sale {
    position: absolute;
    background-color: var(--clr-danger);
    color: white;
    font-size: var(--fs-300);
    padding: 8px;
    top: 16px;
    left: -8px;
  }
}

.options {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style-type: none;
  padding-inline-start: 0;
  align-items: center;
  li {
    width: 20px;
    height: 20px;

    input {
      aspect-ratio: 1 / 1;
      width: 100%;
      border-radius: 100%;
      border: solid 1px #2f3132;
      appearance: none;
    }
  }

  :checked {
    border: solid 2px black;
  }
}

.info {
  .category {
    font-weight: 300;
    font-size: var(--fs-300);
  }

  .product-link {
    text-decoration: none;
    color: var(--clr-primary);
  }

  .title {
    font-weight: 700;
    font-size: var(--fs-500);
  }
}

.price {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: var(--fs-300);
}

.price-details {
  display: flex;
  flex-direction: column;
}

.updated {
  font-weight: 700;
  color: var(--clr-secondary);
}

.standard {
  font-weight: 300;
  text-decoration: line-through;
  color: var(--clr-disabled);
}

.cta {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .buy {
    text-decoration: none;
    background-color: #814efa;
    color: white;
    padding-inline: 8px;
    padding-block: 4px;
    font-size: var(--fs-300);
  }
}
